<head>
    {{> head}}
</head>

<body>
   
  <div class="ui divider"></div>
    <h1 class="ui red center aligned header">File Name : {{name}}</h1>
    <h2 class="ui center aligned header">You can copy this file to your DropBox</h2>
    <img class="ui centered small image" src="https://png.pngtree.com/element_origin_min_pic/16/10/07/1757f76a77cc10f.jpg">
<div class="ui divider"></div>
    <div class="ui center aligned segment">
        <div class="ui big button">
            <a href="/uploadFile/file?id={{id}}"><i class="share square icon"></i> Transfer File</a>
        </div>
    </div>
<div class="ui divider"></div>

</body>