<head>
    {{> head}}
</head>

<body>
<div class="ui divider"></div>
    <h1 class="ui center aligned header">Home Page</h1>
<div class="ui divider"></div>
    <div class="ui center aligned segment">
        <div class="ui big button">
            <i class="signup icon"></i>
            <a href="/login"><i class="google icon"></i> Use Google Account</a>
        </div>
    </div>
<div class="ui divider"></div>
</body>