<head>
    {{> head}}
</head>

<body>

<div class="ui divider"></div>
    <h1 class="ui red center aligned header">It's done!</h1>
    <h2 class="ui center aligned header">Transfer was completed!</h2>
<div class="ui divider"></div>
    <div class="ui center aligned segment">
        <div class="ui big button">
            <a href="/googleDriveFiles"><i class="reply icon"></i>Go Back</a>
        </div>
    </div>
<div class="ui divider"></div>
</body>